body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}
 /* textarea is set to transparent to allow colors for the past, present and future classes to show through */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: white;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: rgb(11, 15, 224);
  border-radius: 0;
  border-bottom: 10px solid rgb(19, 224, 214);
}
.lead {
  background-color: lightsteelblue;
  height: 75px;
  justify-content: center;
  padding: 20px;
  
}
.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #109cec;
  color: white;
}

.present {
  background-color: #61ff90;
  color: white;
}

.future {
  background-color: #a613e0;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #0660d5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

